<a href="https://colab.research.google.com/github/LisaD002/Capstone-Project/blob/main/CIND820_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import files
uploaded =  files.upload()

Saving COVID-19_Diagnostic_Laboratory_Testing__PCR_Testing__Time_Series (3).csv to COVID-19_Diagnostic_Laboratory_Testing__PCR_Testing__Time_Series (3) (6).csv

In [3]:
df2 = pd.read_csv('COVID-19_Diagnostic_Laboratory_Testing__PCR_Testing__Time_Series (3).csv')
df2.head(10)

,state,state_name,state_fips,fema_region,overall_outcome,date,new_results_reported,total_results_reported,geocoded_state
0,AL,Alabama,1,Region 4,Negative,2020/03/01,96,96,NaN
1,AL,Alabama,1,Region 4,Positive,2020/03/01,16,16,NaN
2,AL,Alabama,1,Region 4,Negative,2020/03/02,72,168,NaN
3,AL,Alabama,1,Region 4,Positive,2020/03/02,6,22,NaN
4,AL,Alabama,1,Region 4,Negative,2020/03/03,94,262,NaN
5,AL,Alabama,1,Region 4,Positive,2020/03/03,9,31,NaN
6,AL,Alabama,1,Region 4,Negative,2020/03/04,0,262,NaN
7,AL,Alabama,1,Region 4,Positive,2020/03/04,2,33,NaN
8,AL,Alabama,1,Region 4,Negative,2020/03/05,61,323,NaN
9,AL,Alabama,1,Region 4,Positive,2020/03/05,6,39,NaN

In [4]:
df = pd.DataFrame(df2)

In [5]:
df2.dtypes

state                      object
state_name                 object
state_fips                  int64
fema_region                object
overall_outcome            object
date                       object
new_results_reported        int64
total_results_reported      int64
geocoded_state            float64
dtype: object

In [6]:
df2.dropna(inplace= True)

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   0 non-null      object
 1   state_name              0 non-null      object
 2   state_fips              0 non-null      int64
 3   fema_region             0 non-null      object
 4   overall_outcome         0 non-null      object
 5   date                    0 non-null      object
 6   new_results_reported    0 non-null      int64
 7   total_results_reported  0 non-null      int64
 8   geocoded_state          0 non-null      float64
dtypes: float64(1), int64(3), object(5)
memory usage: 0.0+ bytes

In [8]:
df["overall_outcome"].head()

0    Negative
1    Positive
2    Negative
3    Positive
4    Negative
Name: overall_outcome, dtype: object

In [9]:
df.overall_outcome.head()

0    Negative
1    Positive
2    Negative
3    Positive
4    Negative
Name: overall_outcome, dtype: object

In [10]:
PCR_test = df[[ "overall_outcome", "new_results_reported", "total_results_reported"]]

In [11]:
cols = ["overall_outcome", "new_results_reported", "total_results_reported"]
PCR_list_three = PCR_test[cols]

In [12]:
PCR_list_three.head()

  overall_outcome  new_results_reported  total_results_reported
0        Negative                    96                      96
1        Positive                    16                      16
2        Negative                    72                     168
3        Positive                     6                      22
4        Negative                    94                     262

In [13]:
df.drop('geocoded_state', axis=1, inplace=True)

In [14]:
df.iloc[0:10, 4:7]

  overall_outcome        date  new_results_reported
0        Negative  2020/03/01                    96
1        Positive  2020/03/01                    16
2        Negative  2020/03/02                    72
3        Positive  2020/03/02                     6
4        Negative  2020/03/03                    94
5        Positive  2020/03/03                     9
6        Negative  2020/03/04                     0
7        Positive  2020/03/04                     2
8        Negative  2020/03/05                    61
9        Positive  2020/03/05                     6

In [15]:
df.set_index("overall_outcome", inplace=True)
df.head()

,state,state_name,state_fips,fema_region,date,new_results_reported,total_results_reported
overall_outcome,,,,,,,
Negative,AL,Alabama,1,Region 4,2020/03/01,96,96
Positive,AL,Alabama,1,Region 4,2020/03/01,16,16
Negative,AL,Alabama,1,Region 4,2020/03/02,72,168
Positive,AL,Alabama,1,Region 4,2020/03/02,6,22
Negative,AL,Alabama,1,Region 4,2020/03/03,94,262

In [16]:
Negative = df.loc["Negative"]

In [17]:
Negative.iloc[0:10, 5:6]

                 new_results_reported
overall_outcome
Negative                           96
Negative                           72
Negative                           94
Negative                            0
Negative                           61
Negative                           12
Negative                           20
Negative                           94
Negative                           58
Negative                           84

In [18]:
Negative.iloc[0:10, 6:7]

                 total_results_reported
overall_outcome
Negative                             96
Negative                            168
Negative                            262
Negative                            262
Negative                            323
Negative                            335
Negative                            355
Negative                            449
Negative                            507
Negative                            591

In [19]:
Positive = df.loc["Positive"]

In [20]:
Positive.iloc[0:10, 5:6]

                 new_results_reported
overall_outcome
Positive                           16
Positive                            6
Positive                            9
Positive                            2
Positive                            6
Positive                            4
Positive                            4
Positive                           17
Positive                            6
Positive                            9

In [21]:
Positive.iloc[0:10, 6:7]

                 total_results_reported
overall_outcome
Positive                             16
Positive                             22
Positive                             31
Positive                             33
Positive                             39
Positive                             43
Positive                             47
Positive                             64
Positive                             70
Positive                             79

In [22]:
Inconclusive  = df.loc["Inconclusive"]

In [23]:
Inconclusive.iloc[0:10, 5:6]

                 new_results_reported
overall_outcome
Inconclusive                        1
Inconclusive                        0
Inconclusive                        0
Inconclusive                        0
Inconclusive                        0
Inconclusive                        0
Inconclusive                        4
Inconclusive                        1
Inconclusive                        1
Inconclusive                        3

In [24]:
Inconclusive.iloc[0:10, 6:7]

                 total_results_reported
overall_outcome
Inconclusive                          1
Inconclusive                          1
Inconclusive                          1
Inconclusive                          1
Inconclusive                          1
Inconclusive                          1
Inconclusive                          5
Inconclusive                          6
Inconclusive                          7
Inconclusive                         10

In [25]:
Inconclusive.describe()

         state_fips  new_results_reported  total_results_reported
count  50993.000000          50993.000000            50993.000000
mean      31.225521             47.273567            21645.198733
std       17.990329            182.131669            51827.121776
min        1.000000             -7.000000                0.000000
25%       17.000000              2.000000             1280.000000
50%       30.000000             10.000000             5678.000000
75%       45.000000             34.000000            20144.000000
max       78.000000           7222.000000           562355.000000

In [26]:
Positive.describe()

         state_fips  new_results_reported  total_results_reported
count  52684.000000          52684.000000            5.268400e+04
mean      32.082682           1763.245141            7.669924e+05
std       18.734002           4399.259354            1.281653e+06
min        1.000000              0.000000            0.000000e+00
25%       17.000000            162.000000            6.567625e+04
50%       31.000000            574.000000            2.982345e+05
75%       46.000000           1678.000000            9.379335e+05
max       78.000000         125420.000000            1.095972e+07

In [27]:
Negative.describe()

         state_fips  new_results_reported  total_results_reported
count  53292.000000          53292.000000            5.329200e+04
mean      32.329918          16562.140959            7.896541e+06
std       18.908717          31934.070826            1.492935e+07
min        1.000000              0.000000            0.000000e+00
25%       17.000000           2165.750000            7.657330e+05
50%       31.000000           6451.000000            3.032186e+06
75%       46.000000          17000.750000            8.788022e+06
max       78.000000         448238.000000            1.500675e+08

In [28]:
#Categorical to Onehot Encoding
cat_cols=["new_results_reported", "total_results_reported"]
print(cat_cols)

['new_results_reported', 'total_results_reported']

In [29]:
# Create a copy of the data frame in memory with a different name
df_onehot= Negative.copy()

In [30]:
# Create a copy of the data frame in memory with a different name
df_onehot_1=  Positive.copy()

In [31]:
df_onehot_2 =Inconclusive.copy()

In [32]:
#convert only categorical variables/features to dummy/one-hot features
df_onehot = pd.get_dummies(Negative, columns=cat_cols, prefix = cat_cols)
#print the dataset
df_onehot

,state,state_name,state_fips,fema_region,date,new_results_reported_0,new_results_reported_1,new_results_reported_2,new_results_reported_3,new_results_reported_4,...,total_results_reported_149584655,total_results_reported_149615609,total_results_reported_149677110,total_results_reported_149767827,total_results_reported_149857602,total_results_reported_149933649,total_results_reported_149992165,total_results_reported_150027164,total_results_reported_150047360,total_results_reported_150067479
overall_outcome,,,,,,,,,,,,,,,,,,,,,
Negative,AL,Alabama,1,Region 4,2020/03/01,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Negative,AL,Alabama,1,Region 4,2020/03/02,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Negative,AL,Alabama,1,Region 4,2020/03/03,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Negative,AL,Alabama,1,Region 4,2020/03/04,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Negative,AL,Alabama,1,Region 4,2020/03/05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Negative,WY,Wyoming,56,Region 8,2022/10/16,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Negative,WY,Wyoming,56,Region 8,2022/10/17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Negative,WY,Wyoming,56,Region 8,2022/10/18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Negative,WY,Wyoming,56,Region 8,2022/10/19,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Negative,WY,Wyoming,56,Region 8,2022/10/20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
#convert only categorical variables/features to dummy/one-hot features
df_onehot_1 = pd.get_dummies(Positive, columns=cat_cols, prefix = cat_cols)
#print the dataset
df_onehot_1

,state,state_name,state_fips,fema_region,date,new_results_reported_0,new_results_reported_1,new_results_reported_2,new_results_reported_3,new_results_reported_4,...,total_results_reported_10936617,total_results_reported_10938763,total_results_reported_10941763,total_results_reported_10945382,total_results_reported_10949044,total_results_reported_10952447,total_results_reported_10955403,total_results_reported_10957216,total_results_reported_10958453,total_results_reported_10959715
overall_outcome,,,,,,,,,,,,,,,,,,,,,
Positive,AL,Alabama,1,Region 4,2020/03/01,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Positive,AL,Alabama,1,Region 4,2020/03/02,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Positive,AL,Alabama,1,Region 4,2020/03/03,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Positive,AL,Alabama,1,Region 4,2020/03/04,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Positive,AL,Alabama,1,Region 4,2020/03/05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Positive,WY,Wyoming,56,Region 8,2022/10/16,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Positive,WY,Wyoming,56,Region 8,2022/10/17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Positive,WY,Wyoming,56,Region 8,2022/10/18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Positive,WY,Wyoming,56,Region 8,2022/10/19,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Positive,WY,Wyoming,56,Region 8,2022/10/20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
#convert only categorical variables/features to dummy/one-hot features
df_onehot_2 = pd.get_dummies(Inconclusive, columns=cat_cols, prefix = cat_cols)
#print the dataset
df_onehot_2

,state,state_name,state_fips,fema_region,date,new_results_reported_-7,new_results_reported_-3,new_results_reported_-2,new_results_reported_0,new_results_reported_1,...,total_results_reported_561442,total_results_reported_561558,total_results_reported_561663,total_results_reported_561829,total_results_reported_561983,total_results_reported_562129,total_results_reported_562240,total_results_reported_562303,total_results_reported_562334,total_results_reported_562355
overall_outcome,,,,,,,,,,,,,,,,,,,,,
Inconclusive,AL,Alabama,1,Region 4,2020/03/13,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Inconclusive,AL,Alabama,1,Region 4,2020/03/14,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Inconclusive,AL,Alabama,1,Region 4,2020/03/15,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Inconclusive,AL,Alabama,1,Region 4,2020/03/16,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Inconclusive,AL,Alabama,1,Region 4,2020/03/17,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Inconclusive,WY,Wyoming,56,Region 8,2022/10/16,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Inconclusive,WY,Wyoming,56,Region 8,2022/10/17,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Inconclusive,WY,Wyoming,56,Region 8,2022/10/18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Inconclusive,WY,Wyoming,56,Region 8,2022/10/19,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Inconclusive,WY,Wyoming,56,Region 8,2022/10/20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
#Repeat the train test set split
from sklearn.model_selection import train_test_split

In [36]:
class_col_name="state_name"
one_hot_feature_names=df_onehot.columns[df_onehot.columns != class_col_name]
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(df_onehot.loc[:, one_hot_feature_names], df_onehot[class_col_name], test_size=0.3,random_state=109) # 70% training and 30% test

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
KNeighborsClassifier()
knn.predict(X_test)

In [37]:
from sklearn.metrics import confusion_matrix
cf=confusion_matrix(y_test, y_pred)
print ("Confusion Matrix")
print(cf)
tn, fp, fn, tp=cf.ravel()
print ("TP: ", tp,", FP: ", fp,", TN: ", tn,", FN:", fn)

ValueError: ignored

In [40]:
from sklearn.metrics import classification_report
from sklearn import metrics

print(classification_report(y_test, y_pred))

NameError: ignored

In [ ]:
#for  pcr dataset, we have the following
cat_cols=["new_results_reported", "total_results_reported"]
print(cat_cols)

['new_results_reported', 'total_results_reported']

In [ ]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
  
# Filter data between two dates
filtered_df = Negative.loc[(df['date'] >= '2021-03-01')
                     & (df['date'] < '2021-09-15')]

KeyboardInterrupt: ignored